body{
    font-family: Verdana, Geneva, sans-serif;
}

ul{
    padding-left: 0;
}

li{
    display: flex;
    /*margin-top: 10px;*/
}
li:first-child {
    margin-top:0;
}

.item_main{
    margin-left: 1em;
}
.item_score{
    min-width: 3em;
    text-align: right;
}

a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }
a:hover{
        text-decoration: underline;
}

/* Font sizes */
.title, .item_score{
    font-size: 10pt;
}
.comments{
    font-size: 7pt;
}

.read_button{
    padding-bottom: 1em;
    min-width: 2.5em;
    background-color: #c2ffb2;
    cursor: pointer;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/* when read */
.read .title a{
    text-decoration: line-through;
}
.read .title a, .read .comments a, .read .item_score{
    color: darkgray;
}

/* while hovering */
.read_temp .item_main *, .read_temp .item_score{
    color: darkgray !important;
}
.read_temp .read_button{
    background-color: #ffca7d;
}

/* Time margins */
.time_24h_margin{
    /*border-top: 1px red dashed;*/
    box-shadow: inset 0 2px 0 0 #d8d8d8;
}

.time_24h {
    font-size: 10pt;
    margin-left: 2em;
    background: #d8d8d8;
    padding: 0 10px;
    height: 1.5em;
    /*border-radius: 0 0 5px 5px;*/
}