{% macro list_item(post) -%}
    <li data-date="{{ post[5] }}">
        <span class="read_button"
                onclick="mark_read(this, '{{ post[6] }}', '{{ post[7] }}', {{ post[5] }})"
                onmouseover="mark_read_temp(this)"
                onmouseout="undo_mark_read_temp(this)">↧
        </span>
        <div class="item_score">{{ post[0] }}</div>
        <div class="item_main">
            <div class="title"><a href="{{ post[4] }}">{{ post[2] }}</a></div>
            <div class="comments"><a href="{{ post[3] }}">{{ post[1] }} comments</a></div>
        </div>
    </li>
{%- endmacro %}

<!doctype html>
<head>
    <link rel="stylesheet" href="static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="static/script.js"></script>
<title>dampy</title>
</head>

<body>
    <h1>Posts</h1>
    <button onclick="start_scrape()">scrape!</button>

    <h2>Reddit</h2>
    {% for reddit_item in data.reddit %}
        <h3>{{reddit_item.subtype}}</h3>
        <ul>
        {% for post in reddit_item.posts %}
            {{ list_item(post) }}
        {% endfor %}
        </ul>
    {% endfor %}

    <h2>Stackexchange</h2>
    {% for se_item in data.SE %}
        <h3>{{se_item.subtype}}</h3>
        <ul>
        {% for post in se_item.posts %}
            {{ list_item(post) }}
        {% endfor %}
        </ul>
    {% endfor %}

    <h2>Hacker News</h2>
    <ul>
    {% for post in data.HN %}
        {{ list_item(post) }}
    {% endfor %}
    </ul>
</body>